.container {
    margin-bottom: 3rem;
}

.row {
    text-align: center;
}

.hero-image {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.heading {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bolder;
}

.description {
    font-size: 1rem;
    margin: 1rem 0;
}

.signup-button {
    padding: 0.5rem;
    width: 20%;
    margin: 0 auto;
    font-size: 1.25rem;
}