/* .orders-container {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } */

  .orders-container {
    position: relative;
    width: 64.9%; /* Occupies 65% of the width */
    margin-left: 35.1%; /* Starts at 35% from the left */
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -1050px;
  }
  
  
  .order-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .order-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-table th,
  .order-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .order-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .order-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .order-table tr:hover {
    background-color: #f1f1f1;
  }
  