/* Hero.module.css */
.container {
    padding: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 5rem;
  }
  
  .fs-4 {
    font-size: 1.25rem;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .mb-5 {
    margin-bottom: 3rem;
  }
  
  .text-muted {
    color: #6c757d;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .fa-long-arrow-right {
    color: blue;
    margin-left: 5px;
  }
  